* {
    padding: 0;
    margin: 0;
    list-style: none;
}
#box{
    background-color:#F0F8FF;
    width:70%;
    margin:auto;
    height:100%;
    #h1{
        padding-top:25px;
            margin-left: 15px;
            padding-bottom: 20px;
    }
}
button{
    width:65px;
    height:30px;
    border-radius: 10px;
    border:none;
background-color: white;
}
#box_two {
    margin: auto;
    width:1150px;
        height: 180px;
    // background-color: red;
  
    display: flex;
    flex-wrap:nowrap;
    gap: 25px;
    
   /*  justify-content: space-between;
    align-content: space-between; */
    position: relative;

    div {
    
    border: 1px solid transparent;
        width: 421px;
        height: 150px;
        background-color: white;
        border-radius: 15px;
        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
        line-height: 40px;
        /* font-size: 20px; */
        transition: transform 0.4s;
      
    }

    div:hover {
        transform: scale(1.1);
    }

   
}
#box_three{
    background-color: #F0F8FF;
    .zong1{
        
        margin: auto;
        width: 1150px;
            background-color: #F0F8FF;
            height: 500px;
            display: flex;
            flex-wrap: nowrap;
            
            button{
                background-color:white;
            }
    }
    #zuo{
        width:49%;
        margin: auto;
        background-color: white;
            border-radius: 15px;
        //background-color: red;
        height: 500px;
    }
    #zuo1{
            background-color: #F0F8FF;
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;
            padding-bottom: 20px;
    }
         #you {
             width: 49%;
             margin:auto;
            background-color: white;
                border-radius: 15px;
           //  background-color: green;
             height: 500px;
         }
    
         #you1 {
                background-color: #F0F8FF;
             display: flex;
             flex-wrap: nowrap;
             justify-content: space-between;
            padding-bottom: 20px;
         }
                  #zong2 {
                    padding-top: 50px;
                    margin: auto;
                        width: 1150px;
                        background-color: #F0F8FF;
                        height: 900px;
                        display: flex;
                        flex-wrap: nowrap;
                        button {
                                background-color:white;
                            }
                            button:first-child{
width:150px;
                            }
                    button:nth-child(2) {
                        width: 150px;
                    }
                  }
                                  #zuoa {
                                      width: 100%;
                                      //background-color: orange;
                                      height: 850px;
                                  }
                
                                  #zuo2 {
                                    
                                      display: flex;
                                      flex-wrap: nowrap;
                                      justify-content: space-between;
                                  }
                                  #xiaohou{
                               margin-top:20px;
                                    background-color: white;
                                        border-radius: 15px;
                                    width: 100%;
                                       // background-color: skyblue;
                                        height: 800px;
                                        display: flex;
                                            flex-wrap: nowrap;
                                        #zuo3 {
                                                width: 50%;
                                                margin: auto;
                                                //background-color: red;
                                                border-radius: 15px;
                                                //background-color: red;
                                                height: 700px;
                                                #box_two2 {
                                                        margin: auto;
                                                        width: 90%;
                                                        margin: auto;
                                                        height: 180px;
                                                        // background-color: red;
                                                
                                                        display: flex;
                                                        flex-wrap: wrap;
                                                        gap: 25px;
                                                
                                                        /*  justify-content: space-between;
                                                    align-content: space-between; */
                                                        position: relative;
                                                
                                                        div {
                                                
                                                            border: 1px solid transparent;
                                                            width: 244px;
                                                                height: 200px;
                                                    background-color: #F0F8FF;
                                                            border-radius: 15px;
                                                            display: flex;
                                                            align-items: left;
                                                            justify-content: left;
                                                            flex-direction: column;
                                                            line-height: 40px;
                                                            /* font-size: 20px; */
                                                            transition: transform 0.4s;
                                                
                                                        }
                                                
                                                        div:hover {
                                                            transform: scale(1.1);
                                                        }
                                                
                                                
                                                    }
                                            }
                                        
                                           
                                        
                                            #you3 {
                                                width: 50%;
                                                margin: auto;
                                             
                                                border-radius: 15px;
                                                //  background-color: green;
                                                height: 700px;
                                            }
                                  }
                                
}